<div>
    <h1>Add Products</h1>
    <h2>{{addproductMessage}}</h2>
    <form class="common-form" #addproductform="ngForm" (ngSubmit)="addproduct(addproductform.value)">
        <input  class="common-input-form" type="text" placeholder="enter-product-name" ngModel name="name">
        <input  class="common-input-form" type="text" placeholder="enter-product-price" ngModel name="price">
        <input  class="common-input-form" type="text" placeholder="enter-product-color" ngModel name="color">
        <textarea  class="common-input-form" placeholder="enter-product-description" ngModel name="description"></textarea>
        <input  class="common-input-form" type="text" placeholder="enter-product-url" ngModel name="imageurl">
        <button class="lgbtn">Submit</button>
    </form>
   
</div>
