/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    height: 100%;
}



.common-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}
.common-input-form{
    border: 1px solid blueviolet;
    margin-bottom: 15px;
    height: 30px;
    text-decoration-color: blueviolet;
}
.lgbtn{
    height: 30px;
    color: blueviolet;
    width: 200px;
    
}
.table{
     width: 80%; 
    /* border-collapse: collapse; */
    margin-bottom: 20px;
}
.carousel-caption{
        background-color: #0000006b;;
        width:600px;
        border-radius: 10px;
        transition: background-color is ease;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
    border-radius: 5px;


}
